@model CmsShop.Models.ViewModels.Cart.CartVM

<div class="ajaxcart">
    <img src="~/Images/shopping-cart-solid.svg" class="cartimg" />
    <br />
    <a href="/cart" class="nav-href">Koszyk</a>

</div>