@model IEnumerable<CmsShop.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = ViewBag.CategoryName;
}

<h2>@ViewBag.CategoryName</h2>

<table class="tableProducts">


    @foreach (var item in Model)
    {
        <tr>
            <td rowspan="4" class="tableImage">
                <a href="/shop/product-details/@item.Slug">
                    <img src="/Images/Uploads/Products/@item.Id/Thumbs/@item.ImageName" class="productImg" />
                </a>
            </td>
        </tr>
        <tr>
            <td class="productName">
                @Html.DisplayFor(modelItem => item.Name)

            </td>
        </tr>
        <tr>
            <td class="productDescription">
                @Html.DisplayFor(modelItem => item.Description)

            </td>
        </tr>
        <tr>
            <td class="productPrice">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>


    }

</table>
