@model CmsShop.Models.ViewModels.Shop.ProductVM

@{
    ViewBag.Title = Model.Name;
}


<div class="rowProductDetails">

    <div class="productDetails">
        <img src="/Images/Uploads/Products/@Model.Id/thumbs/@Model.ImageName" class="mainPhoto" />

        <div class="fancyboxdiv">
            @foreach (var image in Model.GalleryImages)
            {
                <div class="imgProductDiv">
                    <a class="fancybox" rel="gallery1" href="/Images/Uploads/Products/@Model.Id/Gallery/@image">
                        <img src="/Images/Uploads/Products/@Model.Id/Gallery/Thumbs/@image" class="imgProduct" />
                    </a>
                </div>
            }
        </div>
    </div>

</div>

<div class="productDetailsDescription-gray">
    <div class="productDetailsDescription">
        <h3>@Model.Name</h3>
        @Html.DisplayFor(model => model.Description)
        <br />
        <br />
       
        <span class="productPrice pull-right">@Html.DisplayFor(model => model.Price)</span>

        <span class="addtocart pull-right">
            <a href="#" class="addtocart btn-login btn-cart">Dodaj do koszyka</a>
            <span class="loader">
                <img src="~/Content/img/ajax-loader.gif" />
            </span>
            <span class="ajaxmsg">
                Produkt został dodany do koszyka.
            </span>
        </span>
    </div>
</div>


<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />

@section scripts {
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script>
        $(function () {

            // fancybox
            $(".fancybox").fancybox();


            // dodawanie do koszyka
            $("a.addtocart").click(function (e) {
                e.preventDefault();

                $("span.loader").addClass("ib");

                var url = "/cart/AddToCartPartial";

                $.get(url, { id: @Model.Id}, function (data) {
                    $(".ajaxcart").html(data);
                }).done(function () {
                    $("span.loader").removeClass("ib");
                    $("span.ajaxmsg").addClass("ib");
                    setTimeout(function () {
                        $("span.ajaxmsg").fadeOut("fast");
                        $("span.ajaxmsg").removeClass("ib");
                    }, 1000);
                });
            });
        });
    </script>


}