
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<div class="dashboard">
    <a href="/Admin/Pages" class="dashboardActions">Zarządzanie stronami</a>
    <a href="/Admin/Shop/Categories" class="dashboardActions">Zarządzanie kategoriami</a>
    <a href="/Admin/Shop/Categories" class="dashboardActions">Zarządzanie produktami</a>
    <a href="/Admin/Shop/Orders" class="dashboardActions">Zamówienia</a>
</div>
